.productImage {
  float: left;
  width: 100%;
  align-items: center;
  cursor: pointer;
  display: flex;
  padding-left: 2rem;
  padding-right: 10rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  transition: background .3s ease;
  border: 1px solid $light-grey-border;
  border-radius: 5px;

  p, input {
    margin: 0;
  }

  > :first-child {
    margin-right: 1rem;

  }
  &:hover {
    background: #f0f0f0;
  }
}


.plusBox {
  border: 1px solid blue;
  width: 3%;
  text-align: center;
  margin-left: 5%;
}
