.productImage {
  border: 1px solid #A9A9A9;
  padding: 18px;
}

.productImage2 {
  height: 150px;
  width: 100%;
  align-items: center;
  cursor: pointer;
  display: flex;
  padding-left: 2rem;
  padding-right: 10rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  transition: background .3s ease;
  border: 1px solid $light-grey-border;
  border-radius: 5px;
  overflow:hidden;

  p, input {
    margin: 0;
  }

  > :first-child {
    margin-right: 1rem;

  }
  &:hover {
    background: #f0f0f0;
  }
}


.plusBox {
  border: 1px solid green;
  width: 30px;
  text-align: center;
  margin-left: 5%;
}


.minusBox {
  border: 1px solid red;
  width: 30px;
  text-align: center;
  margin-left: 5%;
}

.productContainer {
  width: 33%;
  background: $light-grey;
  border: 1px solid $light-grey-border;
  border-radius: 5px;
  padding: 0;
  margin-bottom: 2rem;
  float: left;
}

.product-description {
  line-height: 10px;
  font-size: 75%;
  text-align: center;
  height: 10px;
  margin: 0px;
  overflow: hidden;
}

.topcorner{
    top:10px;
    right: 10px;
 }

//  div {
//     border: 1px solid #000000;
// }

.increments {
  text-align: center;
  display: inline-block;
  float: left;
  width: 20%;
}

.photo {
  text-align: center;
  display: inline-block;
  width: 60%;
}

.percentage {
  vertical-align: top;
  text-align: center;
  display: inline-block;
  width: 20%;
  height: 100%;
}

img {
  height: 40px;
  overflow: hidden;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.thePhoto {
  height: 100px;
}
