.main {
  width: 78%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.page-title {
  color: white;
  text-align: center;
}


.shelf {
  // border: 10px solid #A9A9A9;
  border: 30px solid brown;
  background-color: black;
  border-radius: 40px;
  margin-bottom: 70px;
}

.shelf-brown-bar {
  background-color: brown;
}

.shelf-title {
  border-radius: 20px;
  background-color: white;
  width: 30%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align:center
}

.record {
  border: 1px solid #A9A9A9;
  font-size: 75%;
  background-color: white;
  width: 100%;
  height: 20px;
}

.record-button {
  font-size: 80%;
  position: relative;
  @include button;
  color: black;
  width: 14px;
  height: 14px;
  text-align: center;
  vertical-align: middle;
  text-align: center;
  padding-top: 1px;
  padding-bottom: 5px;
  padding-left: 0px;
  padding-right: 0px;
  margin-top: 2px;
  margin-left: 10px;
  &:hover {
    background: black;
  }
 }

 .add-shelf {
   position: relative;
   @include button;
   color: black;
   width: 200px;
   height: 50px;
   text-align: center;
   vertical-align: middle;
   text-align: center;
   padding-top: 1px;
   padding-bottom: 5px;
   padding-left: 0px;
   padding-right: 0px;
   margin-top: 20px;
   margin-right: 40px;
   &:hover {
     background: gray;
   }
  }

.buttons {
  text-align:center;
}

 .title-edit {
   display: inline-block;
   font-size: 80%;
   position: relative;
   @include button;
   color: black;
  //  height: 20px;
   text-align: center;
   vertical-align: middle;
   text-align: center;
   padding-top: 5px;
   padding-bottom: 5px;
   padding-left: 6px;
   padding-right: 6px;
   margin-top: 2px;
   margin-right: 20px;
   &:hover {
     background: black;
   }
  }

 .record-text {
   padding-left: 5%;
   width: 90%;
   float: left;
   margin: 0px;
   white-space: nowrap;
   overflow: hidden;
   background-color: white;
 }

 body {
     background-image: url("http://wallpapercave.com/wp/pEeUsp1.jpg");
     background-repeat: no-repeat;
     background-attachment: fixed;
 }

 .loading {
   padding-top: 100px;
   color: white;
   text-align: center;
   vertical-align: middle;
   line-height: 90px;
 }

 img {
   border-radius: 40px;
   display: block;
   margin-left: auto;
   margin-right: auto;
   margin-bottom: 22px;
}
