
.productImage {
  padding-bottom: 100px;
  border: 1px solid black;
}

.todo {
  float: left;
  width: 70%;
  align-items: center;
  cursor: pointer;
  display: flex;
  padding: 1rem;
  transition: background .3s ease;
  border: 1px solid $light-grey-border;
  border-radius: 5px;

  p, input {
    margin: 0;
  }

  > :first-child {
    margin-right: 1rem;

  }
  &:hover {
    background: #f0f0f0;
  }
}

.todo__subtext {
  color: #999;
}

.todo-completed {
  p, .todo-subtext {
    color: $light-color;
    text-decoration: line-through;
  }
}

.deleteBox {
  padding: 1px;
  float: right;
  width: 30%;
}


.my-red-button {
  @include button;
  background-color: red;
  width: 30%;
  &:hover {
    background: black;
  }
 }

 .my-green-button {
   @include button;
   background-color: green;
   width: 30%;
   &:hover {
     background: black;
   }
 }
